<%# <div class="container" style="margin: 0;"> %>
  <div class="shop-index">

      <div class="shops">
        <h2>Shops</h2>
        <ul class="shop-list">
          <% @shops.each do |shop| %>
          <div class="shop-card shop-card-border">
              <%= image_tag "shop-photo-test.jpg" %>
            <div class="shop-infos">
              <h3><%= shop.name %></h3>
            <p><%= shop.address %></p>
            <button>Prendre Rendez-vous</button>
            </div>
          </div>
          <% end %>
        </ul>
      </div>

      <div id="wrapper-sticky">
        <div
          id="map" data-markers="<%= @markers.to_json %>">
        </div>
      </div>

  </div>
<%# </div> %>
