
.container-appointments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// .container-appointments h3 {
//   font-size: 3rem;
// }


.cards-appointments {
  max-width: 72vw;
  min-width: 72vw;
  // background: white;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2vh;
}

.card-appointment {
  max-width: 18vw;
  min-width: 18vw;
  max-height: 28vh;
  min-height: 28vh;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 3vh 1vw;
  margin: 3vh 1vw;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-appointment-img {
  height: 2vh;
  img {
    min-width: 5vw;
    min-height: 5vw;
    max-width: 5vw;
    max-height: 5vw;
    border-radius: 50%;
    object-fit: cover;
    bottom: 24vh;
    left: 14.5vw;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
}



.card-appointment-infos {
  // h3 {
  //   border-bottom: 1px solid grey;
  // }
  button {
    border: none;
    color: white;
    font-weight: bold;
    background: $orange;
    border-radius: 5px;
    padding: 1vh 5vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-left: 0.8vw;
  }
  button:hover{
    opacity: 0.8;
  }
}

.spacer-appointment {
  max-width: 80%;
  border: 1px solid grey;
}
