
.bikes-banner {
  min-height: 150vh;
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.bike-infos {
  margin-top: 24px;
  margin-bottom: 24px;
}

.bike-infos > .card-product {
  padding-left: 12px;
  padding-right: 12px;
}

.bike-list {
  justify-content: center;
}

.bike-form {
  justify-content: center;
}
