.container-top {
  height: 200px;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding-top: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: $orange;
  display: flex;
  align-content: space-around;
  justify-content: center;
}

.container-global{
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 3rem;
  justify-content: center;
}

.container-infos{
  flex-direction: column;
  width: 40%;
}

.container-probs{
  height: 500px;
  flex-direction: column;
  // height: 70vh;
}

.prob-infos{
  width: 125px;
  // height: 130px;
  border: 1px solid grey;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://images.unsplash.com/photo-1475666675596-cca2035b3d79?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80) ;
  object-fit: cover;
  overflow: hidden;
  background-position: center;
  // background-size: contain;
  background-size: cover;
  color: white;
}
.prob-infos h3{
  text-align: center;
  color: white;
  // text-shadow: 1px 1px 2px black;
}
.prob-infos button{
  text-align: end;
  color: white;
  background-color: $orange;
  border-radius: 5px;
  border: 0px;
  // text-shadow: 1px 1px 2px black;
}


.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

// ----------
.inner{
  overflow: hidden;
}

.inner img{
  transition: all 1.5s ease;
  height: 200px;
  object-fit: cover;

}
.inner:hover img{
  transform: scale(1.5);
}
