
.shop-index {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
  // position: relative;
  // top: 64px;
  padding-top: 8vh;
}

.shops {
  align-items: center;
  margin: 0 auto;

}

.shops h2{
  text-align: center;
  margin: 8vh auto;
  margin-bottom: 2vh;
}

.shop-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding-left: 0px;
  margin: 0 4vw;
}

.shop-card{
  // width: 100%;
  // padding: 6vh 1vw;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-evenly;
  // align-items: center;
  // margin: 8px;

  width: 100%;
  padding: 5vh 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  margin: 8px;
  align-items: center;
}


.shop-card-border {
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 16px;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.shop-card img {
  max-width: 26vw;
  max-height: 26vh;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 1vw;
}

.shop-infos button {
  border: none;
  color: white;
  font-weight: bold;
  background: $orange;
  border-radius: 5px;
  padding: 1vh 2vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.shop-infos button:hover {
  opacity: 0.7;
}

/* Map Google */
#wrapper-sticky {
  height: 100%;
  width: 50%;
}

#map {
  height: 100vh;
  width: 100%;
  position: fixed !important;
  top: 60px;
  bottom: 0px;
}
