<div class="navbar navbar-expand-sm navbar-light navbar-recycle">
  <div class="container-fluid">
    <div class="navbar-title">
      <h2>re:cycle</h2>
    </div>
    <div class="navbar-elements">
      <h3>Home</h3>
      <h3>Dashboard</h3>
      <h3>Shops</h3>
      <div class="icons"><i class="fa fa-search"></i></div>
      <div class="icons"><i class="fa fa-shop"></i></div>
    </div>
  </div>
</div>
