<div class="rc-banner" id="top-banner">
  <div class="container">
    <div class="rc-banner-text">
    <%= link_to "Réparez votre vélo dès maintenant !", bike_path(Bike.find(1)), class: "btn btn-warning" %>
    <h2>Remettez-vous en selle</h2>
    <h1>Votre nouveau vélo se trouve déjà chez vous !</h1>
    <div class="spacer"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus.</p>
    </div>
  </div>
</div>


<div class="rc-banner" id="second-banner">
  <div class="container">
      <div class="presentation-title">
        <h1>Lancez-vous, c'est simple et cela ne prend que quelques minutes</h1>
      </div>
      <div class="presentation-details">
        <div class="details-category">
          <h2>C'est rapide !</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veritatis quidem, aperiam commodi id explicabo rerum vitae nostrum.</p>
          <div class="spacer"></div>
        </div>
        <div class="details-category">
          <h2>C'est facile !</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veritatis quidem, aperiam commodi id explicabo rerum vitae nostrum.</p>
          <div class="spacer"></div>
        </div>
        <div class="details-category">
          <h2>C'est gratuit !</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veritatis quidem, aperiam commodi id explicabo rerum vitae nostrum.</p>
          <div class="spacer"></div>
        </div>
      </div>
  </div>
</div>
