<div class="bike-infos">

  <div class="card-product">
    <%= image_tag "avatar-default" %>
    <div class="card-product-infos">
      <h2><%= @bike.name  %></h2>
      <p><%= @bike.brand %> - <em><%= @bike.model %></em></p>
    </div>
  </div>

</div>
