<div class="bike-schema">

  <%# REAL BUTTONS %>

  <div class="bike-button"
      id="button-chains"
      data-bs-toggle="modal"
      data-bs-target="#chainsModal"
      data-controller="popover"
      data-bs-toggle="popover"
      data-bs-trigger="hover"
      data-bs-placement="right"
      data-bs-content="Chaîne & Transmission">
  </div>

  <div class="bike-button" id="button-wheels"
      data-bs-toggle="modal"
      data-bs-target="#wheelsModal"
      data-controller="popover"
      data-bs-toggle="popover"
      data-bs-trigger="hover"
      data-bs-placement="right"
      data-bs-content="Roues & Pneus">
  </div>

  <div class="bike-button" id="button-brakes"
      data-bs-toggle="modal"
      data-bs-target="#brakesModal"
      data-controller="popover"
      data-bs-toggle="popover"
      data-bs-trigger="hover"
      data-bs-placement="right"
      data-bs-content="Système de freinage">
  </div>

  <%# FAKE BUTTONS %>

  <div class="bike-button" id="button-saddles"
      data-bs-toggle="modal"
      data-bs-target="#saddlesModal"
      data-controller="popover"
      data-bs-toggle="popover"
      data-bs-trigger="hover"
      data-bs-placement="right"
      data-bs-content="Selle">
  </div>

  <div class="bike-button" id="button-pedals"
      data-bs-toggle="modal"
      data-bs-target="#pedalsModal"
      data-controller="popover"
      data-bs-toggle="popover"
      data-bs-trigger="hover"
      data-bs-placement="right"
      data-bs-content="Pédalier">
  </div>

  <div class="bike-button" id="button-frames"
      data-bs-toggle="modal"
      data-bs-target="#framesModal"
      data-controller="popover"
      data-bs-toggle="popover"
      data-bs-trigger="hover"
      data-bs-placement="right"
      data-bs-content="Cadre">
  </div>

  <div class="bike-button" id="button-handlebars"
      data-bs-toggle="modal"
      data-bs-target="#handlebarsModal"
      data-controller="popover"
      data-bs-toggle="popover"
      data-bs-trigger="hover"
      data-bs-placement="right"
      data-bs-content="Guidon & Axe de roue">
  </div>

</div>
