<h1>Résultat du diagnostique</h1>
<% if Chain.where(bike_id: @bike.id) %>
  <h3>Révise la chaîne du vélo</h2>
  <p>La chaîne de ton vélo est peut-être mal graissée ou un maillon a éventuellement sauté.</p>
  <button type="button" class="btn btn-outline-info">En savaoir plus</button>
<% end %>
