<div class="container pt-4"></div>
<div class="bg-image">
<h1 class="title-chain pt-4">L'état de votre Chaîne:</h1></div>
<div class="container pt-3 text-center">

  <div class="container pt-5"></div>
    <div class="cards-chain d-flex justify-content-around">
    <% @diag_values.each do |problem| %>
      <%# check if problem != nil %>
      <% if problem %>
        <div class="card" style="width: 18rem;">
          <div class="card-body-chain pb-2">
            <p class="card-text" style="padding: 15px;"><%= problem %></p>
            <a href="#" class="btn btn-primary">Regarder un tuto</a>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
