<div class="container-tuto">
  <div class="header-wrapper-tuto">
    <header><h1>Chain : remplacer une roue creuvée</h1></header>
    <div class="cols-container-tuto">
      <div class="first-row-tuto">
        <div class="infos-container-tuto">
          <h2><%= @bike.name%></h2>
            <div style="margin-bottom: 16px;">
              <% @diag.each do |problem| %>
                <%if problem %>
                  <%= problem %>
                <%end %>
              <%end %>
            </div>
          <ul>
            <li><button>Acheter le matériel nécessaire</button></li>
            <li><button>Rechercher un réparateur pro</button></li>
            <li><button>Rechercher un Recycler</button></li>
          </ul>
        </div>
      </div>
      <div class="right-col-tuto">
        <h2>Mode réparation : </h2>
        <h5>Matériel nécessaire : </h5>
        <ul>
          <li style="margin-right: 24px;">❶ Matériel</li>
          <li style="margin-right: 24px;">❷ Matériel</li>
          <li style="margin-right: 24px;">❸ Matériel</li>
        </ul>
        <ul>
          <li style="margin-right: 24px;">❹ Matériel</li>
          <li style="margin-right: 24px;">❺ Matériel</li>
          <li style="margin-right: 24px;">❻ Matériel</li>
        </ul>
        <%= render "navtabs-tuto" %>
      </div>
    </div>
  </div>
</div>
