

<div class="container__profile">
  <div class="header__wrapper">
    <header></header>
    <div class="cols__container">
      <div class="left__col">
        <div class="img__container">
          <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80" alt="image profile user photo">
          <span></span>
        </div>
        <h2>First Last name</h2>
        <p>email adresse</p>
        <p>A définir ....? </p>

        <ul class="about">
          <li><span>10</span>Vélos</li>
          <li><span>26</span>Diagnostiques</li>
          <li><span>39</span>A définir</li>
        </ul>

        <div class="content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, sequi amet. Eveniet dolore obcaecati ipsum, harum omnis minima quis consequatur dolorem asperiores at corporis tempora natus voluptas libero rem labore.</p>

          <ul>
            <li><i class="fab fa-printerest"></i>Link 1</li> <!-- possible lien avec un fab (icone texte)-->
            <li><i class="fab fa-printerest"></i>Link 2</li> <!-- possible lien avec un fab (icone texte)-->
            <li><i class="fab fa-printerest"></i>Link 3</li> <!-- possible lien avec un fab (icone texte)-->
          </ul>
        </div>
      </div>
      <div class="right__col">
        <nav>
          <ul>
            <li><a href="#">Mes Vélos</a></li>
            <li><a href="#">Mes Shops</a></li>
            <li><a href="#">groupes</a></li>
          </ul>
          <button>Ajouter un Vélo</button>
        </nav>
        <div class="photos">
          <img src="https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="vélo photo">
          <img src="https://images.unsplash.com/photo-1593764592116-bfb2a97c642a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=718&q=80" alt="vélo photo">
          <img src="https://images.unsplash.com/photo-1604344929197-c89e3ef3c25b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="vélo photo">
          <img src="https://images.unsplash.com/photo-1571333250630-f0230c320b6d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="vélo photo">
        </div>
      </div>
    </div>
  </div>
</div>
