<div class="container_profile">
  <div class="header_wrapper">
    <div class="cols_container">
      <div class="img_container">
        <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80" alt="image profile user photo">
        <span></span>
      </div>
      <h2>First Last name</h2>
      <p>email adresse</p>
      <p>A définir ....? </p>

      <ul class="about">
        <li><span>10</span>Vélos</li>
        <li><span>26</span>Diagnostiques</li>
        <li><span>39</span>A définir</li>
      </ul>

      <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, sequi amet. Eveniet dolore obcaecati ipsum, harum omnis minima quis consequatur dolorem asperiores at corporis tempora natus voluptas libero rem labore.</p>

        <ul>
          <li><i class="fab fa-printerest"></i></li>
          <li><i class="fab fa-printerest"></i></li>
          <li><i class="fab fa-printerest"></i></li>
        </ul>
      </div>
    </div>
    <div class="right_col">
      <nav>
        <ul>
          <li><a href="#">photos</a></li>
          <li><a href="#">galleries</a></li>
          <li><a href="#">groupes</a></li>
        </ul>
        <button>Follow</button>
      </nav>
      <div class="photos">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
      </div>
    </div>
  </div>
</div>
